@media (min-width: 768px) {
    .wr_menu{
        margin: 1em;
    }
}

body {
    background-color: #E6E6E6;
    padding-top:65px;
}

.wr_menu{


}

.wr_menu_profile{
    margin: 0px;
    padding: 0px;
}

.wr_profile{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    margin-bottom: 1em;
}

.wr_menu .name{
    border-left: #848484 5px solid;
    font-size: 1.8em;
    text-indent: 0.1em;
    margin: 0px;
    padding: 0px;
    padding-top: 0.2em;
}

.wr_menu .chair{
    border-left: #848484 5px solid;
    font-size: 1.2em;
    text-indent: 0.3em;
    color: gray;
    margin: 0px;
    padding: 0px;
    padding-bottom: 0.5em;
}

.wr_menu a{
    font-size: 1.1em;
    line-height: 2em;
    margin: 0px;
    padding: 0px;
    color: black;
}

.wr_menu a{
    text-decoration: none;
}
.wr_menu_list{
    border-left: #A9BCF5 5px solid;
    text-indent: 0.3em;
    margin: 0px;
    padding: 0px;
}

.wr_menu_list:hover{
    background-color: #FFFFFF;
    border-left: #5882FA 5px solid;
}
