body {
    background-color: #F2F2F2;
}

nav{
    background: #1C1C1C;
    height: 2.8em;
    padding: 0.5em;
}

nav .brand{
    font-size: 1.2em;
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-weight:bold;
}

nav .nav-right{
    font-size: 1.2em;
    color: white;
    display: inline-block;
    float: right;
}

nav a{
    text-decoration: none;
    color:white;
}

.wr_elc_info{
    margin-bottom: 0.5em;
}


.wr_elc_profile{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}


.wr_profile{
    padding: 0px;
    max-width: 100%;
    border: #BDBDBD 1px solid;
}

.wr_menu .name{
    font-size: 1.6em;
    text-indent: 0.3em;
    margin: 0px;
    padding: 0px;
    padding-top: 0.2em;
}

.wr_menu .chair{
    font-size: 1em;
    text-indent: 0.5em;
    color: gray;
    margin: 0px;
    padding: 0px;
    padding-bottom: 0.5em;
}

.wr_menu a{
    font-size: 1em;
    line-height: 2em;
    margin: 0px;
    padding: 0px;
    color: #0B2161;
    text-decoration: none;
}

.wr_menu a{
    text-decoration: none;
}
.wr_menu_list{
    border-left: #A9BCF5 3px solid;
    text-indent: 0.5em;
    margin: 0px;
    padding: 0px;
}

.wr_menu_list:hover{
    background-color: #FFFFFF;
    border-left: #5882FA 3px solid;
}

.wr_contents{
    min-height: 100%;
    margin: 0px;
    padding: 0em;
    padding-top: 1em;
    background-color: white;
    border-left: #E6E6E6 1px solid;
    border-right: #E6E6E6 1px solid;
    overflow: hidden;
}

.wr_panel{
    border-top: #E6E6E6 1px solid;
    border-bottom: #E6E6E6 1px solid;
    margin-bottom: 0.5em;
}

.wr_panel-body{
    padding: 0.5em;
    margin: 0px;
}

.wr_panel-body h4{
    margin: 0px;
}

.wr_panel-left{
    padding: 0px
}

.wr_panel-right{
    padding: 0px
}
.progress_per{
    background-color: #848484;
    color:#F2F2F2;
    padding:0.3em;
    font-size: 0.6em;
    margin-left: 0.5em;
}

.wr_panel-body .w3-progress-container{
    margin-top: 0.3em;
}

.wr_list-group{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.wr_list-group-item{
    border-top: #E6E6E6 1px solid;
    background-color: #F2F2F2;
    padding: 0.5em;
}

.wr_list-group-item a{
    text-decoration: none;
    padding-left: 1em;
    color:black;
}

.wr_list-group-item a:hover{
    font-weight: bold;
}


.wr_like_c{
    background-color: #F78181;
    color:#FBEFEF;
    padding:0.4em;
    font-size: 0.8em;
}

.wr_comment_c{
    background-color: #819FF7;
    color:#EFF2FB;
    padding:0.4em;
    font-size: 0.8em;
}

.evl{
    background-color: #848484;
    color:#F2F2F2;
    padding:0.4em;
    font-size: 0.8em;
}

.wr_form_comment_header{

}

.wr_form_comment{
    margin: 0px;
    border: #E6E6E6 1px solid;
    background-color: white;

}

.wr_nick_input{
    height: auto;
    line-height: normal;
    padding: 0.8em 0em;
    border: 0px;
    width: 60%;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.wr_user_ip{
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: lighter;
    color: #A4A4A4;
}

.wr_comment_input{
    height: auto;
    line-height: normal;
    padding: 0.8em 0em;
    border: 0px;
    width: 100%;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-top: #E6E6E6 1px solid;
    border-radius: 0px;
    resize: none;
}

.wr_form_comment_btn{
    margin-top: 0.7em;
    padding: 0px;
}

.wr_comment_btn{
    width: 100%;
    line-height: normal;
    background-color: #11A642;
    border: #11A642 5px solid;
    color: white;
    font-weight: bold;
}

.wr_contents hr{
    border: #E6E6E6 1px solid;
    margin-top: 1em;
    margin-bottom: 1em;
}

.comment_list{
    padding: 0px;
}

.comment_main{
    border-top: #E6E6E6 1px solid;
    border-bottom: #E6E6E6 1px solid;
    margin-top: 0.5em;
    padding: 0.8em;
}

.comment_header{
    color: black;
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: 0.6em;
}

.comment_header .wr_user_ip{
    margin-top: 0.5em;
}

.comment_main .wr_user_ip{
    font-size: 0.6em;
}

.comment_area{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.comment_info{
    margin-top: 0.4em;
}

.comment_report{
    font-size: 0.8em;
    font-weight: lighter;
    color: #A4A4A4;
}

.comment_openaddbtn{
    display: inline-block;
}


.cmt_window{
    margin: 1em;
}

.cmt_addmnt_btn{

}

.comment_recommend{
    display: inline-block;
    float: right;
}

.cmt_addmnt_btn{
    background-color: white;
    border: #848484 1px solid;
    color:#848484;
    font-size: 0.7em;
}

.cmt_like{
    background-color: #EFF2FB;
    border: #819FF7 1px solid;
    color:#819FF7;
    font-size: 0.7em;
}

.cmt_dislike{
    background-color: #FBEFEF;
    border: #F78181 1px solid;
    color: #F78181;
    font-size: 0.7em;
}

.comment_add{
    padding: 0.5em;
    padding-top: 0em;
    background-color: #FAFAFA;

}

#comment_form{
    margin-bottom: 0px;
}


.add_cmt_wraper {
    padding: 0px;
    margin: 0px;
}

.add_comment_form{
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

.add_cmt_form{
    line-height: 0px;
    margin-top: 0px
}

.add_comment{
    background-color: #FAFAFA;
    padding: 0.5em;
    padding-left: 2em;
    border-bottom: #E6E6E6 1px solid;
}



.add_comment_header{
    color: #424242;
    font-weight: bold;
    padding: 0.5 0em;
}

.add_comment_header .wr_user_ip{
    margin-top: 0em;
}

.add_comment_area{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    color: #6E6E6E;
}


.add_comment_info{
    padding: 0.5 0em;
}

.add_cmt_btn_set{
    padding: 0.5 0em;
    text-align: right;
}

.add_comment_report{
    font-size: 0.8em;
    font-weight: lighter;
    color: #A4A4A4;
}

.add_comment_recommend{

}

#comment {
    resize: none;
}

.plan_info{
    background-color: white;
    padding: 0.5em;
    border: #E6E6E6 1px solid;
    border-top: 0px;
    margin-bottom: 1em;
}

.wr_pol_menu{
    margin: 0px;
    padding: 0px;
}

.wr_pol_menu li{
    display: inline-block;
    text-decoration: none;
    padding: 1em 0em;
    padding-top: 0.5em;
    text-align: center;
    width: 6em;
}

.wr_pol_menu li:hover{
    background-color: #E6E6E6;
}

.wr_pol_menu a:hover{
    font-weight: bold;
    text-decoration: none;
}

.wr_pol_menu .active{
    border-top: #E6E6E6 1px solid;
    border-left: #E6E6E6 1px solid;
    border-right: #E6E6E6 1px solid;
    background-color: white;
}



@media (min-width: 800px) {
    .wr_menu{
        margin: 1em;
    }

    .wr_elc_info{
        margin-bottom: 0em;
    }

    .wr_elc_profile{
        padding-top: 0em;
        padding-bottom: 0em;
        padding-left: 0em;
    }


    .wr_profile{
        margin-left: 0em;
        margin-bottom: 0.8em;
    }

    .wr_menu .name{
        border-left: #848484 3px solid;
    }

    .wr_menu .chair{
        border-left: #848484 3px solid;
    }

    .wr_contents{
        padding: 1em;
    }

    .wr_panel{
        border-left: #E6E6E6 1px solid;
        border-right: #E6E6E6 1px solid;
        margin-bottom: 0.5em;
    }

    .wr_panel-left{
        border-right: #E6E6E6 1px solid;
    }

    .wr_panel-body{
        padding: 1em;
    }

    .wr_list-group-item{
        padding: 1em;
    }

    .wr_form_comment_btn{
        padding-left: 1em;
        margin-top: 0px;
    }

    .cmt_window{
        max-width: 600px;
    }

    .add_cmt_form{
        max-width: 600px;
    }

    .add_cmt_wraper{
        padding-bottom: 1em;
        padding-left: 1em;
    }

    .comment_add{
        padding: 0em;
        border-left: #E6E6E6 1px solid;
        border-right: #E6E6E6 1px solid;
    }

    .comment_main{
        border-left: #E6E6E6 1px solid;
        border-right: #E6E6E6 1px solid;
    }

    .add_comment{
        border-left: #E6E6E6 1px solid;
        border-right: #E6E6E6 1px solid;
    }

    .plan_info{
        padding: 1em;
    }
}
