body {
    background-color: #FAFCFE;
    padding-top: 50px;
}

header {
    padding: 1em;
    background-color: #FAFCFE;
}

nav {
  background-color: black;
  padding: 3px;
}

#wb_ElectedCard {
    border: 1px solid #ddd;
    padding: 5px;

}

.like {
    color:#FF0000;
}

.wr-profile{

}

.wr-wrapper{
    padding: 2em;
    background-color: #fff;
    border-color: black;
}

.wr_bg
{
    background-color: black;
}
