header {

}

nav {
  background-color: black;
  padding: 3px;
}

nav il {
  color: white;
}

#elected_list{
  padding-left:10px;
  padding-right:10px;
  margin-top: 10px;
}

#policy_list{
  margin-top: 10px;
}
