body {
    background-color: #FAFAFA;
    padding-top: 70px;
}

header {
    padding: 1em;
    background-color: #FAFAFA;
}

nav {
  background-color: black;
  padding: 3px;
}

#elected_list{
  padding-left:10px;
  padding-right:10px;
  margin-top: 10px;
}

#policy_list{
  margin-top: 10px;
}

.like {
    color:#FF0000;
}

.wr-profile{

}
