/*페이지 구성*/

.wr_single_wrapper{
    padding: 0em 0.5em;
}

/*버튼(wr.btn)*/

.wr_btn{
    line-height: normal;
    background-color: inherit;
    border: #424242 1px solid;
    border-radius: 3px;
    color: #424242;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 1px 1px 1px #D8D8D8;
}

a.wr_btn{
    display: inline-block;
}

.wr_btn:hover{
    text-decoration: none;
    color: #424242;
}

.wr_btn.wr_btn_heart{
    border: #F78181 1px solid;
    color: #F78181;
}

.wr_btn.wr_btn_heart:hover{
    background-color: #F78181;
    border: red 1px solid;
    color: white;
}

.wr_btn.wr_btn_blue{
    border: #5983D7 1px solid;
    color: #5983D7;
}

.wr_btn.wr_btn_blue:hover{
    background-color: #5983D7;
    border: #4067B5 1px solid;
    color: white;
}

.wr_btn.wr_btn_caution{
    border: #FF8000 1px solid;
    color: #FF8000;
}

.wr_btn.wr_btn_caution:hover{
    background-color: #FF8000;
    border: #FF8000 1px solid;
    color: white;
}

.wr_btn.wr_btn_mono_bk{
    background-color: black;
    border: white 1px solid;
    color: white;
}

.wr_btn.wr_btn_mono_bk:hover{
    background-color: white;
    border: white 1px solid;
    color: black;
}

.wr_btn.wr_btn_mono_wt{
    background-color: white;
    border: black 1px solid;
    color: black;
}

.wr_btn.wr_btn_mono_wt:hover{
    background-color: black;
    border: black 1px solid;
    color: white;
}


/*라벨(wr_label)*/

.wr_label{
    padding: 0.2em 0.5em;
    font-weight: 400;
}

.wr_label.wr_label_blue{
    color: white;
    background: #1F5597;
    border: #15447D 1px solid;
}
