## Options -MultiViews
## Options All -Indexes

## Turn mod_rewrite on

<IfModule mod_rewrite.c>
    DirectoryIndex ./new_home.php
    ErrorDocument 404 /404.php

    RewriteEngine On

    RewriteRule ^/?login /new_login.php
    RewriteRule ^/?register /new_register.php
    RewriteRule ^/?fogot/?id /new_findid.php
    RewriteRule ^/?fogot/?pw /new_findpw.php
    RewriteRule ^/?mypage /new_mypage.php

    RewriteRule ^/?el/([A-Za-z0-9]+)$ ./new_states.php?id=$1
    RewriteRule ^/?el/([A-Za-z0-9]+)/?comment$ ./new_states.php?id=$1&mnu=cmt
    RewriteRule ^/?el/([A-Za-z0-9]+)/?info$ ./new_states.php?id=$1&mnu=info
    RewriteRule ^/?el/([A-Za-z0-9]+)/?policy/([0-9]+)$ ./new_policy.php?id=$1&pol=$2
    RewriteRule ^/?docs/([A-Za-z0-9]+).([A-Za-z0-9]+)$ ./new_docs.php?name=$1&type=$2

    RewriteRule ^(.+)/pst/(.*) /pst/$2 [L]
    RewriteRule ^(.+)/css/(.*) /css/$2 [L]
    RewriteRule ^(.+)/js/(.*) /js/$2 [L]
    RewriteRule ^(.+)/style/(.*) /style/$2 [L]
    RewriteRule ^(.+)/fonts/(.*) /fonts/$2 [L]
    RewriteRule ^(.+)/asset/(.*) /asset/$2 [L]

</IfModule>
